<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>

        <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        <p>Lugar para la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>

        <nav>
            <!-- Comienza el nav, listas dentro de  tags a -->
            <ul>
                <a href="/Ofertas">
                    <li>Ofertas</li>
                </a>
                <a href="">
                    <li>Tiendas Oficiales</li>
                </a>
                <a href="">
                    <li>Vender</li>
                </a>
                <a href="">
                    <li>Ayuda</li>
                </a>
            </ul>
            <a href="">
                <li>Creá tu cuenta</li>
            </a>
                <a href="">
                    <li>Ingresá</li>
                </a>
                <a href="">
                    <li>Mis compras</li>
                </a>
            <ul>

            </ul>
            <!-- Termina el nav.-->
        </nav>
    </header>

    <main>
        <section>
            <h4>Basado en tu última visita</h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width=250>
                <p>$6.770</p>
                <p>40% OFF</p>
                <p> <strong> Cafetera Moulinex </strong> </p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro" width=250>
                <p>$230.000</p>
                <p>20% off</p>
                <p> <strong> MacBook Pro 2019 </strong></p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width=250>
                <p>$70.500</p>
                <p>10% off</p>
                <p> <strong> Samsung Galaxy S10 </strong></p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''" width=250>
                <p>$23.200</p>
                <p>5% off</p>
                <p> <strong> SmartTv Samsung 43" </strong></p>
            </article>

        </section>

        <section>
            
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>