<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

</head>
<body>
    <header>
        <!-- Comienza el Header-->
        <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        <p id= "buscador">Lugar para la barra de búsqueda &#128269</p>

        <p id= "subtitulo"> &#128077 Comprá en cuotas y sin tarjeta de crédito</p>
        
        <nav>
            
            <!-- Comienza el nav, listas dentro de  tags a -->
            <ul>
                <a href="/Ofertas">
                    <li>Ofertas</li>
                </a>
                <a href="">
                    <li>Tiendas Oficiales</li>
                </a>
                <a href="">
                    <li>Vender</li>
                </a>
                <a href="">
                    <li>Ayuda</li>
                </a>
            </ul>
            
            <ul>
                <a href="">
                    <li>Creá tu cuenta&#128203</li>
                </a>
                    <a href="">
                        <li>Ingresá</li>
                    </a>
                    <a href="">
                        <li>Mis compras</li>
                    </a>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>                
            <!-- Termina el nav.-->
           
        </nav>
         <!-- Termina el Header-->
    </header>

    <main>
         <!-- Comienza el Main-->
        <section>
            <img src="/images/img-home-banner.jpg" alt="Home Banner" width=350>
            <!-- Comienza Sección basado en tu última visita-->
            <h4>Basado en tu última visita</h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width=250>
                <p class="precios"> $6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripciones"> <strong> Cafetera Moulinex </strong> </p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro" width=250>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descripciones"> <strong> MacBook Pro 2019 </strong></p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width=250>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="descripciones"> <strong> Samsung Galaxy S10 </strong></p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''" width=250>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="descripciones"> <strong> SmartTv Samsung 43" </strong></p>
            </article>
        <!-- Termina Sección basado en tu última visita-->
        </section>

        <section>
            <!-- Comienza Sección de ofertas-->
            <h4>Ofertas</h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width=250>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripciones"> <strong> Cafetera Moulinex </strong> </p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro" width=250>
                <p class="precios">$230.000</p>
                <p class="descuentos"> 20% off</p>
                <p class="descripciones"> <strong> MacBook Pro 2019 </strong></p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width=250>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="descripciones"> <strong> Samsung Galaxy S10 </strong></p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''" width=250>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="descripciones"> <strong> SmartTv Samsung 43" </strong></p>
            </article>
             <!-- Termina Sección de ofertas-->
        </section>
        <!-- Termina el Main-->
    </main>

    <footer>
        <!-- Comienza el Footer-->
        <div>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>

        <div>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </div>

        <div>
            <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
        </div>
        <!-- Termina el Footer-->
    </footer>
</body>
</html>