<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>

        <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        <p>Lugar para la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>

        <nav>
            <!-- Comienza el nav, listas dentro de  tags a -->
            <ul>
                <a href="/Ofertas">
                    <li>Ofertas</li>
                </a>
                <a href="">
                    <li>Tiendas Oficiales</li>
                </a>
                <a href="">
                    <li>Vender</li>
                </a>
                <a href="">
                    <li>Ayuda</li>
                </a>
            </ul>
            <a href="">
                <li>Creá tu cuenta</li>
            </a>
                <a href="">
                    <li>Ingresá</li>
                </a>
                <a href="">
                    <li>Mis compras</li>
                </a>
            <ul>

            </ul>
            <!-- Termina el nav.-->
        </nav>
    </header>

    <main>

    </main>

    <footer>

    </footer>
</body>
</html>