* {
    box-sizing: border-box;
}
/* Body general */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ebebeb;
}
/* Body general */


/* HEADER */
header {
    background-color: #EAC926;
}
#search-lens {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fa-search {
background-color: #FFFFFF;
}
.Header-Navbar {
    display: none;
}
#icon-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-menu{
    text-align: center;
    color: #FFFFFF;
}
.fa-bars {
    background-color: rgba(4, 92, 255, 0.952);
    border-radius: 10%;
    width: 30px;
    height: 20px;
    padding: 2px;
    margin-bottom: 10px;
    display: block;
}
.img-banner {
    width: 100%;
    margin-bottom: -4px;
}
/* HEADER */



/* MAIN */
main {
    background-color: #FFFFFF;
    width: 90vw;
    margin: auto;
}
article img {
 width: 100%;
 max-width: 700px;
}
.articulo {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: solid 1px #ebebeb;
    padding: 15px;
}


.container-truck {
    display: flex;
    width: 30px;
    border: solid 0.5px #39b54a;
    border-radius: 100%;
    margin-bottom: 1px;
    transform-origin: 0px 0px;
    fill: #39b54a;
    color: #39b54a;
    padding: 3px;
    justify-content: center;
    align-items: center;
}
h4 {
    font-size: 24px;
}
p {
    font-size: 12px;
    color: #000000
}
#subtitulo { 
    text-align: center;
}

.precios {
  font-size: 18px;  
  margin-bottom: 1px;
  margin: 1px;
  font-weight: 600;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    margin: 2px;
    font-weight: 500;
}
.descripciones { 
    margin: 2px;
    display: none;
}

/* MAIN */



/* FOOTER */

.footer {
    text-align: center;
}
.footer-h5 {
margin: 4px;
}
.footer-img {
    width: 2em;
    margin-top: 10px;
    margin-bottom: 5px;
}
/* FOOTER */

/* MEDIA QUERIES */

@media (min-width: 361px){
    .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripciones {
        display: block;
    }
    .Header-Navbar {
        display: block;
    }
    .burger-menu {
        display: none;
    }
}
@media (min-width: 769px){
    .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripciones {
        display: block;
    }
    .Header-Navbar {
        display: block;
    }
    .burger-menu {
        display: none;
    }
}
/*Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px*/

/*● Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/
/*Debemos centrar la sección main y que ocupe un 90% del ancho de la pantalla.
● Entre cada artículo hay una separación de 10 píxeles.
● Nos piden que manejemos el logo del envío, el precio, el porcentaje de descuento
y la descripción del artículo como elementos de una caja dentro de la caja general
del artículo.
● Nos piden que la misma tenga un borde superior de 1 píxel, línea sólida y color
#ebebeb.
● Debe tener separado el contenido de sus bordes en 15 píxeles en cada uno de sus
lados.*/

/* el truck vino con esto en el HTML width="18" height="15" viewBox="0 0 18 15" */
