* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/* Body general */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
/* Body general */


/* HEADER */
header {
    background-color: #EAC926;
}
.container-logo {
    width: 50%;
    margin-bottom: 5px;
    margin-right: 10px;
}

.logo-search-subtitle {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-searchbar {
    width: 50%;
}

.container-lens {
    width: 50%;
    position: relative;
    margin-bottom: 5px;
    left: 90px;
}
.fa-search {
    background-color: #FFFFFF;
    position: absolute;
    right: 10px;
    bottom: 2px;
    right: 12px;
    }

.Header-Navbar {
    display: none;
}
.container-nav-list { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5em;
}
.nav-list1, .nav-list2 {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 5px;
}
.nav-list1 a, .nav-list2 a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.li-header {
    margin-right: 7px;
    list-style: none;
}
#icon-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.burger-menu{
    text-align: center;
    color: #FFFFFF;
}
.fa-bars {
    background-color: rgba(4, 92, 255, 0.952);
    border-radius: 10%;
    width: 30px;
    height: 20px;
    padding: 2px;
    margin-bottom: 10px;
    display: block;
}
.img-banner {
    width: 100%;
    margin-bottom: -4px;
}
/* HEADER */



/* MAIN */
main {
    background-color: #FFFFFF;
    width: 90vw;
    margin: auto;
}
article img {
 width: 100%;
 max-width: 700px;
}

.container-article article {
    width: 100%;
}
.main-article {
    width: 100%;
    padding: 15px;
    border-top: solid 1px #ebebeb;
    position: relative;
    cursor: pointer;
}
.products-last-visit, 
.products-offers {
    display: flex;
    flex-wrap: wrap;
}
main section article .container-truck {
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .fa-truck {
    transition: all .5s;
   }
   .fa-truck:hover {
       transform: rotate(-90deg);
   }
h4 {
    font-size: 24px;
}
p {
    font-size: 12px;
    color: #000000
}
#subtitulo { 
    text-align: center;
}

.container-prices-discounts {
    display: flex;

}
.precios {
  font-size: 18px; 
  font-weight: 600;
  
}

.container-prices-discounts .precios {
    width: 30%;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    font-weight: 500;
    
}
.container-prices-discounts .descuentos {
    width: 70%;
}
.descripciones { 
    margin: 2px;
    display: none;
}

/* MAIN */



/* FOOTER */

.footer {
    text-align: center;
}
.footer-h5 {
margin: 4px;
}
.footer-img {
    width: 2em;
    margin-top: 10px;
    margin-bottom: 5px;
}
/* FOOTER */

/* MEDIA QUERIES */

@media (min-width: 481px) and (max-width: 768px){
    .Header-Navbar {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    .logo-search-subtitle {
        margin-bottom: 5px;
    }
    .container-logo {
        width: 30%;
        margin-right: 8%;
    }
    .container-searchbar {
        width: 100%;
        display: flex;
    }
    .container-lens {
        position: relative;
        width: 30%;
        margin-left: 10px;
        left: 0px;
    }
    .fa-search {
        left: 135px;
    }
    .logo-search-subtitle {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
#icon-subtitle {
        width: 50%;
        margin-left: 30%;
        text-align: center;
        margin-left: 0px;
    }
    .products-last-visit article, 
    .products-offers article{
        transition: all .4s;         
        width: 50%;
    }
    .products-last-visit article:hover, 
    .products-offers article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .container-prices-discounts .precios {
        margin-right: 10%;
        padding-bottom: 10px;
    }
    .descripciones {
        display: block;
    }
    .container-article {
        width: 50%;
        padding: 10px;
    }
    .container-article article {
        width: 100%;
        height: 90%;
        overflow: hidden;
        transition: all .5s;
    }
    .container-article article:hover {
        height: 100%;   
        }
        .main section article .container-truck  {
            top: 0px;
        }
}
@media (min-width: 769px){
     /* HEADER MEDIA QUERY */
    .Header-Navbar {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    .container-logo {
        width: 30%;
        margin-right: 8%;
    }
    .logo-search-subtitle {
        display: flex;
        width: 100%;
        height: 150px;
        justify-content: space-around;
    }
    .container-searchbar {
        width: 100%;
    }
    .container-lens {
        position: relative;
        width: 30%;
        margin-left: 125px;
        left: 0px;
    }
    .fa-search {
        background-color: #FFFFFF;
        position: absolute;
        right: 10px;
        bottom: 2px;
        right: 12px;
        }
    #icon-subtitle {
        width: 30%;
    }

    /* HEADER MEDIA QUERY */

    /* MAIN MEDIA QUERY */
    .products-last-visit article, 
    .products-offers article{
        transition: all .4s;         
        width: 50%;
    }
    .products-last-visit article:hover, 
    .products-offers article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .container-prices-discounts .precios {
        margin-right: 23%;
        padding-bottom: 20px;
    }
    .descripciones {
        display: block;
    }
    .container-article {
        width: 25%;
        padding: 10px;
    }
    .container-article article {
        width: 100%;
        height: 85%;
        overflow: hidden;
        transition: all .5s;
    }
    .container-article article:hover {
        height: 100%;   
        }
    .main section article .container-truck  {
        top: 0px;
    }
    /* MAIN MEDIA QUERY */
}
